apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitlab-runner
  namespace: gitlab-runner
spec:
  interval: 30m
  chart:
    spec:
      chart: gitlab-runner
      version: "0.82.0"  
      sourceRef:
        kind: HelmRepository
        name: gitlab
        namespace: flux-system
  install:
    createNamespace: true
  upgrade:
    remediation:
      retries: 3
  values:
    gitlabUrl: "$URL_TO_GITLAB_INSTANCE"

    rbac:
      create: true
    extraEnvFrom:
      REGISTRATION_TOKEN:
        secretKeyRef:
          name: gitlab-runner-secret
          key: registrationToken

    runners:
      privileged: true   
      config: |
        [session_server]
          session_timeout = 1800
        [[runners]]
          executor = "kubernetes"
          request_concurrency = 4
          [runners.kubernetes]
            image_pull_secrets = ["$SECRET_USED_TO_AUTH_TO_REGISTRY"]
            image = "ubuntu:22.04"
            namespace = "gitlab-runner"
            # extra_hosts = ["$ADDITIONAL_DOMAIN_NAME:$ADDITIONAL_IP"]
            privileged = true
            poll_timeout = 600
            cpu_limit = "1"
            memory_limit = "1Gi"
          [runners.cache]
            Type = "s3"
            Shared = true

    # Optional node selector or tolerations
    nodeSelector: {}
    tolerations: []

    # Optional resource limits for the runner pod
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

